{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- All html must be between these two lines to ensure bootstrap is picked up correctly -->
<div class="row w-100 m-0 my-2 p-0">
  <div class="col-md-3">
    <div class="custom-card shadow-sm border d-flex justify-content-center flex-column align-items-center py-5 gap-3">
      <img style="border-radius: 50%; width:100px; height:100px" src="{% static 'src/default_avatar.png' %}">
      <h3>John Doe</h3>
      <div class="row w-100">
        <div class="col-sm-4">
          <p style="text-align: center">1287<br>Posts</p>
        </div>
        <div class="col-sm-4">
          <p style="text-align: center">1288<br>Followers</p>
        </div>
        <div class="col-sm-4">
          <p style="text-align: center">1289<br>Following</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 mt-3">
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete Account
      </button>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Account Deletion Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            Head's up! You're about to delete your account. THIS IS IRREVERSIBLE. If you are sure you want to do this, click the "Delete Account" button below.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't Delete</button>
            <form action="" method="post">
               {% csrf_token %} 
            <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex flex-column gap-3">
    {% for i in count %}

    <div class="card shadow border">
      <img src="{% static 'src/post_image_alt.jpg' %}" class="card-img-top" alt="Post image here">
      <div class="card-body">
        <h5 class="card-title">Date of Post</h5>
        <p class="card-text">Post Likes</p>
        <a href="#" class="btn btn-primary p-2">See Post Details</a>
      </div>
    </div>
    
    {% endfor %}
  </div>
  <div class="col-md-3">
    <div class="custom-card shadow-sm border shadow d-flex flex-row align-items-center py-5 justify-content-around">
      <div>
        <h4>Likes</h4>
        <div class="">
          <h4>100 <span style="color: #158415;">▲</span></h4>
          <p style="color: #848484;">90 on 9/30</p>
        </div>
      </div>
      <div>
        <h4>Followers</h4>
        <div class="">
          <h4>999 <span style="color: #FF0000;">▼</span></h4>
          <p style="color: #848484;">1000 on 9/30</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center w-100 mt-3 ">
      <a href="#" class="btn btn-sm btn-info">Manage Metrics</a>
    </div>
  </div>
</div>
</div>

<!-- TODO: (RM1) Remove this in next iteration, once we implement the instagram account joining functionality -->
<!--Temporary Pop up to submit Instagram Token For user-->
<div id="token-pop-up" class="token-pop-up-overlay d-flex justify-content-center align-items-center">
  <div class="bg-light p-3 rounded shadow border">
    <h3>Instagram Token</h3>
    <div class="d-flex flex-column gap-2">
      {% csrf_token %}
      <div class="form-group">
        <input type="password" id="insta-token" name="insta_token" placeholder="Instagram Token">
      </div>
      <button class="btn btn-primary" onclick="submitInstaToken()">Submit</button>
    </div>
  </div>
</div>

{% endblock content %}
<!-- if you want to load a static file, place it in the "static" folder (this will be images, css, javascript): {% load static %} -->