.custom-card {
    width: 100%;
}

.custom-card > .border {
    width: 230px;
    height: 230px;
    border-radius: 100%;
}

.custom-card > .border > img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.custom-card > .row > .col-sm-4 > p {
    text-align: center;
} 

.custom-card > .row > .col-sm-4 > p > span {
    font-weight: 500;
    font-size: 1.5rem;
}